<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>StoreData</servlet-name>
        <servlet-class>com.example.mckenna.musicdiscovery.backend.StoreData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StoreData</servlet-name>
        <url-pattern>/storedata</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GlobalStatsServlet</servlet-name>
        <servlet-class>com.example.mckenna.musicdiscovery.backend.GlobalStatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GlobalStatsServlet</servlet-name>
        <url-pattern>/globalstats</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetDailyServlet</servlet-name>
        <servlet-class>com.example.mckenna.musicdiscovery.backend.GetDailyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetDailyServlet</servlet-name>
        <url-pattern>/getdaily</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>